{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}multilingual/admin_styles.css" />
    <script src="{{ STATIC_URL }}multilingual/admin.js"></script>
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <ul class="language-tabs">
        {% for code, name in LANGUAGES %}
            {% if code == ML_LANGUAGE %}
                <li class="selected">
                    <span>{{ name }}</span>
                </li>
            {% else %}
                <li>
                    <a href="?language={{ code }}">{{ name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="delete-translations/" id="remove-translations">Remove translations</a>
    </li>
{% endblock %}

{% block after_field_sets %}
    <input type="hidden" name="language" value="{{ ML_LANGUAGE }}">
{% endblock %}
